{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Hoa Mai Parc{% endblock %}

{% block content %}
    <h1 class="content-title">Modifier mon mot de passe</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{message}}
        </div>
    {% endfor %}
    
    <div>
        {{form(form)}}
    </div>
{% endblock %}
