{% extends 'base.html.twig' %}

{% block title %}Bienvenue - HOA MAI PARC{% endblock %}
{% block content %}
    <h1 class="content-title">Hoa Mai Parc</h1>
    <h2 class="content-title">Vous souhaite la bienvenue !</h2>
    <div class="container mt-3">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Qui sommes-nous ? </h2>
                    <p class="lead text-muted">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/carousel-second.jpg') }}" height="100%" class="d-block w-100" alt="image2">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Un univers traditionnel. </h2>
                    <p class="lead text-muted">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/parc.jpg') }}" height="100%" class="d-block w-100" alt="image2">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">De l'eau et du fun! </h2>
                    <p class="lead text-muted">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/parc2.jpg') }}" height="100%" class="d-block w-100" alt="image2">
            </div>
        </div>
    </div><!-- /.container -->
{% endblock %}
