{% extends 'base.html.twig' %}

{% block title %}M'inscrire - Hoa Mai Parc{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    {% if notifications %}
        {% for notification in notifications %}
        <div class="alert alert-info">
            {{notification}}
        </div>
        {% endfor %}
        <hr>
    {% endif %}
    
    <div>
        {{ form(form) }}
    </div>
{% endblock %}
