{% extends 'base.html.twig' %}

{% block title %}Paiement annulé - Hoa Mai Parc{% endblock %}

{% block content %}

    <h1 class="content-title">Paiement annulé</h1>

    <p>Vous souhaitez rajouter des articles à votre panier ?</p>

    <p>Si vous avez des questions à propos de votre commande, merci de nous envoyer un email sur
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
{% endblock %}
