{% extends 'base.html.twig' %}

{% block title %}Les tarifs - Hoa Mai Parc{% endblock %}

{% block content %}
    <h1>Les tarifs :</h1>
    <br>
    <div class="row my-2">
        {% for ticket in tickets %}
        <div class="col-md-3 m-auto border shadow-sm row">
            <div class="col-md-12 text-center box-shadow">
                <h5 class="border-bottom p-2">{{ticket.ticketName}}</h5>
                <p class="d-flex justify-content-around">
                    <span>{{(ticket.ticketPrice  / 100)|number_format(2, ',', '.') }} €</span>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if days %}
    <div class="mt-5">
        {% include 'tickets_form.html.twig' %}
    </div>
    {% else %}
    <p class="m-3">Souhaitez-vous <a href="{{ path('reservation') }}">réserver une date</a>?</p>
    {% endif %}
{% endblock %}
